.t-gray {
  color: #484848
}

.t-white {
  color: #ffffff;
}

.t-black {
  color: #282828;
}
.t-brown {
  color: #B99470;
}

.b-white {
  background-color: #ffffff;
}

.b-yellow {
  background-color: #FFC107;
}

.b-brown {
  background-color: #B99470;
}
